*{
  font-family: "Roboto";
  margin: 0;
}

.header{
    color: #F0FAF8;
    
    background-color: #1F2937;
    
}
.logo{
    padding: 20px;
    
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: #F0FAF8;
    font-weight: normal;
    font-size: 1em
}
.nav-bar{
    
     display: flex;
     align-items: center; 
     width: 100%;
     justify-content: space-between;   
}
ul{
    padding: 20px;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.HeroText{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-items: center;
}

.button{
    background-color: #3882F6;
    color: #F0FAF8;
    padding: 1em;
    border-radius: 20px;
    border: none;
    margin: 10px;
}